@page "/feedback/{number:int}"
@{
    var number = Convert.ToInt32(RouteData.Values["number"]);
    ViewData["Title"] = "Feedback #" + number;
}

<a href="/feedback" class="back-link">back to all reports</a>

<sb-feedback-detail number="@number" />
