@page
@{
    ViewData["Title"] = "File a report";
}

<div class="content-section">
    <h2 class="section-heading">File a report</h2>
    <sb-feedback-form></sb-feedback-form>
</div>

<div class="content-section">
    <h2 class="section-heading">Your reports</h2>
    <sb-feedback-list />
</div>
