@model IReadOnlyList<IssueSummary>
@{
    ViewData["Title"] = "Your Issues";
}
<h1>Issues</h1>
@if (Model.Count == 0)
{
    <p>No issues found. <a href="/feedback/new">Submit one?</a></p>
}
else
{
    <ul class="issue-list">
        @foreach (var issue in Model)
        {
            <li>
                <a href="/feedback/@issue.Number">#@issue.Number @issue.Title</a>
                <span>(@issue.State)</span>
            </li>
        }
    </ul>
}
